# Sadece görsel dosyalara izin ver
<FilesMatch "\.(jpg|jpeg|png|gif|webp)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# PHP dosyalarını engelle
<FilesMatch "\.php$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

